<div class="card p-3 shadow-sm">

  <h5 class="fw-semibold mb-3">
    Filtrar productos
  </h5>

  <!-- Filtro por nombre -->
  <div class="mb-3">
    <label class="form-label">
      Nombre
    </label>
    <input
      type="text"
      class="form-control"
      placeholder="Buscar por nombre"
      (input)="onNombreChange($event)">
  </div>

  <!-- Filtro por categoría -->
  <div class="mb-3">
    <label class="form-label">
      Categoría
    </label>
    <input
      type="text"
      class="form-control"
      placeholder="Filtrar por categoría"
      (input)="onCategoriaChange($event)">
  </div>

  <!-- Filtro activos -->
  <div class="form-check mt-2">
    <input
      class="form-check-input"
      type="checkbox"
      id="soloActivos"
      (change)="onActivoChange($event)">
    <label class="form-check-label" for="soloActivos">
      Solo activos
    </label>
  </div>

</div>
